/* Основные стили для тёмной темы */

body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .header {
    background-color: #1f1f1f;
    color: #e0e0e0;
  }
  
  .header--logo img {
    filter: brightness(0.8) invert(1);
  }
  
  .device-notification {
    background-color: #2c2c2c;
    color: #e0e0e0;
  }
  
  .device-notification--message {
    color: #e0e0e0;
  }
  
  .l-side-nav {
    background-color: #1c1c1c;
  }
  
  .side-nav li.is-active span {
    color: #ffffff;
  }
  
  .side-nav li span {
    color: #b0b0b0;
  }
  
  .intro--banner {
    background-color: #2c2c2c;
    color: #e0e0e0;
  }
  
  .intro--options a {
    color: #1e90ff;
  }
  
  .work {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .slider--item-title {
    color: #1e90ff;
  }
  
  .slider--item-description {
    color: #b0b0b0;
  }
  
  .cta {
    background-color: #1e90ff;
    color: #ffffff;
  }
  
  .cta:hover {
    background-color: #007acc;
  }
  